.card {
  position: relative;
  float: left;
  text-align: center;
  margin-bottom:100px;
}

.card:nth-child(1) {
  margin-left: -3px;
  margin-right: 1px;
}

.card:nth-child(2),
.card:nth-child(3) {
  margin-right: 1px;
}

/* card fronts and backs */
.card__front,
.card__back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card__front,
.card__back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}

.card__front {
  height:400px;
  background-color: #ffe4c4;
  position: relative;
  padding-top: 20px;
  padding-bottom: 40px;
}

.card__back {
  background-color: #ffe4c4;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  padding-top: 20px; padding-bottom: 40px;
}

/* card text */
.card__text {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 20px;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
  line-height: 20px;
}





.form_flip_card{
   font-family: 'PT Sans', sans-serif;
   text-align: left;
   font-size: 32px;
   color: #8b0000;
   margin-top:50px;
   margin-left:20px
}



.card_back_svg_text{
    bottom: 0;
    display: inline-block;
    font-family: "PT Sans",sans-serif;
    height: 20px;
    left: 0;
    line-height: 20px;
    right: 0;
    top: 0;
}









/* hover effect */
.card.effect__hover:hover .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* click effect */
.card.effect__click.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__click.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}

/* random effect */
.card.effect__random.flipped .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__random.flipped .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
